<a href="https://colab.research.google.com/github/rakenny1985/THA_2/blob/master/THA1_Ryan_Kenny.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing pandas and reading my first file - US foreign aid by country and year- it's a big one!
import pandas as pd
data_aid = pd.read_excel('us_foreign_aid_country_original_noduplicates.xlsx')
print(data_aid.head(3))

print(data_aid.tail(3))

print(data_aid.columns)
print(list(data_aid))

   unique_id country_code country_name  region_id         region_name  \
0  Aruba1999          ABW        Aruba          6  Western Hemisphere
1  Aruba2000          ABW        Aruba          6  Western Hemisphere
2  Aruba2004          ABW        Aruba          6  Western Hemisphere

  income_group_acronym    income_group_name  transaction_type_id  \
0                  HIC  High Income Country                    2
1                  HIC  High Income Country                    2
2                  HIC  High Income Country                    2

  transaction_type_name  year  current_amount  constant_amount
0           Obligations  1999           19000            26904
1           Obligations  2000           50000            69357
2           Obligations  2004            1000             1277
          unique_id country_code country_name  region_id         region_name  \
14147  Zimbabwe2016          ZWE     Zimbabwe          5  Sub-Saharan Africa
14148  Zimbabwe2017          ZWE     Zimbabwe          5  Sub-Saharan Africa
14149  Zimbabwe2018          ZWE     Zimbabwe          5  Sub-Saharan Africa

      income_group_acronym   income_group_name  transaction_type_id  \
14147                  LIC  Low Income Country                    3
14148                  LIC  Low Income Country                    3
14149                  LIC  Low Income Country                    3

      transaction_type_name  year  current_amount  constant_amount
14147         Disbursements  2016       222623369        226450649
14148         Disbursements  2017       225696225        225696225
14149         Disbursements  2018       119170983        117333275
Index(['unique_id', 'country_code', 'country_name', 'region_id', 'region_name',
       'income_group_acronym', 'income_group_name', 'transaction_type_id',
       'transaction_type_name', 'year', 'current_amount', 'constant_amount'],
      dtype='object')
['unique_id', 'country_code', 'country_name', 'region_id', 'region_name', 'income_group_acronym', 'income_group_name', 'transaction_type_id', 'transaction_type_name', 'year', 'current_amount', 'constant_amount']

In [0]:
#second file read - US president list
data_prez = pd.read_excel("Presidents_Depaul.xls")
print(data_prez.head(10))

print(data_prez.tail(10))

print(data_prez.columns)
print(list(data_prez))

            President  Year  Age at inauguration Political Party Occupation  \
0  Franklin Roosevelt  1933                 51.0        Democrat     Lawyer
1  Franklin Roosevelt  1934                 52.0        Democrat     Lawyer
2  Franklin Roosevelt  1935                 53.0        Democrat     Lawyer
3  Franklin Roosevelt  1936                 54.0        Democrat     Lawyer
4  Franklin Roosevelt  1937                 55.0        Democrat     Lawyer
5  Franklin Roosevelt  1938                 56.0        Democrat     Lawyer
6  Franklin Roosevelt  1939                 57.0        Democrat     Lawyer
7  Franklin Roosevelt  1940                 58.0        Democrat     Lawyer
8  Franklin Roosevelt  1941                 59.0        Democrat     Lawyer
9  Franklin Roosevelt  1942                 60.0        Democrat     Lawyer

   College
0  Harvard
1  Harvard
2  Harvard
3  Harvard
4  Harvard
5  Harvard
6  Harvard
7  Harvard
8  Harvard
9  Harvard
          President  Year  Age at inauguration Political Party   Occupation  \
77     Barack Obama  2010                 47.0        Democrat       Lawyer
78     Barack Obama  2011                 47.0        Democrat       Lawyer
79     Barack Obama  2012                 47.0        Democrat       Lawyer
80     Barack Obama  2013                 47.0        Democrat       Lawyer
81     Barack Obama  2014                 47.0        Democrat       Lawyer
82     Barack Obama  2015                 47.0        Democrat       Lawyer
83     Barack Obama  2016                 47.0        Democrat       Lawyer
84     Barack Obama  2017                 47.0        Democrat       Lawyer
85  Donald J. Trump  2018                 70.0      Republican  Businessman
86  Donald J. Trump  2019                 70.0      Republican  Businessman

                       College
77         Columbia University
78         Columbia University
79         Columbia University
80         Columbia University
81         Columbia University
82         Columbia University
83         Columbia University
84         Columbia University
85  University of Pennslyvania
86  University of Pennslyvania
Index(['President', 'Year', 'Age at inauguration', 'Political Party',
       'Occupation', 'College'],
      dtype='object')
['President', 'Year', 'Age at inauguration', 'Political Party', 'Occupation', 'College']

In [0]:

#Third dataset - country political regime index by year - another large one!
data_country = pd.read_excel("country_gov_type_unique.xls")
print(data_country.head(5))

print(data_country.tail(5))

print(data_country.columns)
print(list(data_country))

           unique_id  cyear  ccode scode        country  year  flag  fragment  \
0  United States1946  21946      2   USA  United States  1946     0       NaN
1  United States1947  21947      2   USA  United States  1947     0       NaN
2  United States1948  21948      2   USA  United States  1948     0       NaN
3  United States1949  21949      2   USA  United States  1949     0       NaN
4  United States1950  21950      2   USA  United States  1950     0       NaN

   democ  autoc    ...     interim  bmonth  bday  byear  bprec  post  change  \
0     10      0    ...         NaN     NaN   NaN    NaN    NaN   NaN     NaN
1     10      0    ...         NaN     NaN   NaN    NaN    NaN   NaN     NaN
2     10      0    ...         NaN     NaN   NaN    NaN    NaN   NaN     NaN
3     10      0    ...         NaN     NaN   NaN    NaN    NaN   NaN     NaN
4     10      0    ...         NaN     NaN   NaN    NaN    NaN   NaN     NaN

   d4  sf  regtrans
0 NaN NaN       NaN
1 NaN NaN       NaN
2 NaN NaN       NaN
3 NaN NaN       NaN
4 NaN NaN       NaN

[5 rows x 37 columns]
     unique_id    cyear  ccode scode country  year  flag  fragment  democ  \
9790  Fiji2013  9502013    950   FJI    Fiji  2013     0       0.0      0
9791  Fiji2014  9502014    950   FJI    Fiji  2014     1       0.0      3
9792  Fiji2015  9502015    950   FJI    Fiji  2015     1       0.0      3
9793  Fiji2016  9502016    950   FJI    Fiji  2016     1       0.0      3
9794  Fiji2017  9502017    950   FJI    Fiji  2017     1       0.0      3

      autoc    ...     interim  bmonth  bday   byear  bprec  post  change  \
9790      4    ...         NaN     NaN   NaN     NaN    NaN   NaN     NaN
9791      1    ...         NaN     9.0  22.0  2014.0    1.0   2.0     6.0
9792      1    ...         NaN     NaN   NaN     NaN    NaN   NaN     NaN
9793      1    ...         NaN     NaN   NaN     NaN    NaN   NaN     NaN
9794      1    ...         NaN     NaN   NaN     NaN    NaN   NaN     NaN

       d4  sf  regtrans
9790  NaN NaN       NaN
9791  1.0 NaN       3.0
9792  NaN NaN       NaN
9793  NaN NaN       NaN
9794  NaN NaN       NaN

[5 rows x 37 columns]
Index(['unique_id', 'cyear', 'ccode', 'scode', 'country', 'year', 'flag',
       'fragment', 'democ', 'autoc', 'polity', 'polity2', 'durable', 'xrreg',
       'xrcomp', 'xropen', 'xconst', 'parreg', 'parcomp', 'exrec', 'exconst',
       'polcomp', 'prior', 'emonth', 'eday', 'eyear', 'eprec', 'interim',
       'bmonth', 'bday', 'byear', 'bprec', 'post', 'change', 'd4', 'sf',
       'regtrans'],
      dtype='object')
['unique_id', 'cyear', 'ccode', 'scode', 'country', 'year', 'flag', 'fragment', 'democ', 'autoc', 'polity', 'polity2', 'durable', 'xrreg', 'xrcomp', 'xropen', 'xconst', 'parreg', 'parcomp', 'exrec', 'exconst', 'polcomp', 'prior', 'emonth', 'eday', 'eyear', 'eprec', 'interim', 'bmonth', 'bday', 'byear', 'bprec', 'post', 'change', 'd4', 'sf', 'regtrans']

In [0]:
#printing one instance of each dataset to ensure they are coming through ok...
print(data_aid.loc[2500])
print(data_prez.loc[60])
print(data_country.loc[1010])

unique_id                               Colombia1955
country_code                                     COL
country_name                                Colombia
region_id                                          6
region_name                       Western Hemisphere
income_group_acronym                            UMIC
income_group_name        Upper Middle Income Country
transaction_type_id                                2
transaction_type_name                    Obligations
year                                            1955
current_amount                               9199000
constant_amount                             67417573
Name: 2500, dtype: object
President              George Bush/Bill Clinton
Year                                       1993
Age at inauguration                         NaN
Political Party             Republican/Democrat
Occupation                                  NaN
College                                     NaN
Name: 60, dtype: object
unique_id    Colombia1977
cyear             1001977
ccode                 100
scode                 COL
country          Colombia
year                 1977
flag                    0
fragment              NaN
democ                   8
autoc                   0
polity                  8
polity2                 8
durable                20
xrreg                   3
xrcomp                  3
xropen                  4
xconst                  6
parreg                  2
parcomp                 4
exrec                   8
exconst                 6
polcomp                 9
prior                 NaN
emonth                NaN
eday                  NaN
eyear                 NaN
eprec                 NaN
interim               NaN
bmonth                NaN
bday                  NaN
byear                 NaN
bprec                 NaN
post                  NaN
change                NaN
d4                    NaN
sf                    NaN
regtrans              NaN
Name: 1010, dtype: object

In [0]:
#printing my variable lists to see what I have for merge
print(list(data_prez))
print(list(data_aid))
print(list(data_country))

['President', 'Year', 'Age at inauguration', 'Political Party', 'Occupation', 'College']
['unique_id', 'country_code', 'country_name', 'region_id', 'region_name', 'income_group_acronym', 'income_group_name', 'transaction_type_id', 'transaction_type_name', 'year', 'current_amount', 'constant_amount']
['unique_id', 'cyear', 'ccode', 'scode', 'country', 'year', 'flag', 'fragment', 'democ', 'autoc', 'polity', 'polity2', 'durable', 'xrreg', 'xrcomp', 'xropen', 'xconst', 'parreg', 'parcomp', 'exrec', 'exconst', 'polcomp', 'prior', 'emonth', 'eday', 'eyear', 'eprec', 'interim', 'bmonth', 'bday', 'byear', 'bprec', 'post', 'change', 'd4', 'sf', 'regtrans']

In [0]:
#found that the 'Year' column in my president data was uppercase so I'm renaming it to match the other two sets
data_prez=data_prez.rename(columns = {'Year':'year'})
print(list(data_prez))

['President', 'year', 'Age at inauguration', 'Political Party', 'Occupation', 'College']

In [0]:
#selecting pertinent columns from my aid and my country polity data

data_aid_new = data_aid[["unique_id", "country_name", "region_name", "income_group_name", "transaction_type_name", "current_amount"]]
print(data_aid_new.head())

data_country_new = data_country[["unique_id", "country", "year", "democ", "autoc", "polity", "polity2"]]
print(data_country_new.sample(5))

   unique_id country_name         region_name    income_group_name  \
0  Aruba1999        Aruba  Western Hemisphere  High Income Country
1  Aruba2000        Aruba  Western Hemisphere  High Income Country
2  Aruba2004        Aruba  Western Hemisphere  High Income Country
3  Aruba2005        Aruba  Western Hemisphere  High Income Country
4  Aruba2006        Aruba  Western Hemisphere  High Income Country

  transaction_type_name  current_amount
0           Obligations           19000
1           Obligations           50000
2           Obligations            1000
3           Obligations           29270
4           Obligations            1000
             unique_id       country  year  democ  autoc  polity  polity2
8478         Japan2012         Japan  2012     10      0      10     10.0
5253          Chad1984          Chad  1984    -88    -88     -88     -4.0
3011       Albania2012       Albania  2012      9      0       9      9.0
8937         Nepal2002         Nepal  2002      1      7      -6     -6.0
4861  Sierra Leone1998  Sierra Leone  1998    -77    -77     -77      0.0

In [0]:
#merging country polity and aid data based on the unique_id column which I created in excel using a concatenation of country name+year
data_aid_country = data_aid_new.merge(data_country_new, on="unique_id", how="inner")
print(data_aid_country.sample(5))

            unique_id country_name            region_name  \
6560  New Zealand2013  New Zealand  East Asia and Oceania
343       Austria1949      Austria     Europe and Eurasia
8307         Chad2011         Chad     Sub-Saharan Africa
2724       France2012       France     Europe and Eurasia
6804       Panama2017       Panama     Western Hemisphere

                income_group_name transaction_type_name  current_amount  \
6560          High Income Country           Obligations           87328
343           High Income Country           Obligations       274200000
8307           Low Income Country           Obligations       152215688
2724          High Income Country           Obligations          225982
6804  Upper Middle Income Country           Obligations        26908238

          country  year  democ  autoc  polity  polity2
6560  New Zealand  2013     10      0      10     10.0
343       Austria  1949     10      0      10     10.0
8307         Chad  2011      1      3      -2     -2.0
2724       France  2012      9      0       9      9.0
6804       Panama  2017      9      0       9      9.0

In [0]:
#merging my third database on the 'year' column, looks ok so far...
data_aid_country_prez = data_aid_country.merge(data_prez, on="year", how="inner")
print(data_aid_country_prez.sample(5))

                unique_id     country_name                   region_name  \
2836          Somalia1990          Somalia            Sub-Saharan Africa
3194          Tunisia1993          Tunisia  Middle East and North Africa
198           Austria1954          Austria            Europe and Eurasia
4508         Pakistan2002         Pakistan        South and Central Asia
3813  Slovak Republic1998  Slovak Republic            Europe and Eurasia

                income_group_name transaction_type_name  current_amount  \
2836           Low Income Country           Obligations         5757000
3194  Lower Middle Income Country           Obligations        24968603
198           High Income Country           Obligations               0
4508  Lower Middle Income Country         Disbursements       798067788
3813          High Income Country           Obligations        17026548

              country  year  democ  autoc  polity  polity2  \
2836          Somalia  1990      0      7      -7     -7.0
3194          Tunisia  1993      1      4      -3     -3.0
198           Austria  1954     10      0      10     10.0
4508         Pakistan  2002      0      5      -5     -5.0
3813  Slovak Republic  1998      9      0       9      9.0

                     President  Age at inauguration      Political Party  \
2836               George Bush                 64.0           Republican
3194  George Bush/Bill Clinton                  NaN  Republican/Democrat
198       Dwight D. Eisenhower                 62.0           Republican
4508            George W. Bush                 54.0           Republican
3813              Bill Clinton                 46.0             Democrat

       Occupation              College
2836  Businessman                 Yale
3194          NaN                  NaN
198       Soldier  US Military Academy
4508  Businessman                 Yale
3813       Lawyer           Georgetown